@mobile: ~"only screen and (min-width: 320px) ";
@tablet: ~"only screen and (min-width: 768px) ";
@desktop: ~"only screen and (min-width: 960px) ";

@column: 68px;
@gutter: 12px;
@sideMargin: 12px;

.gutter (@gutter: @grid-gutter-width) {
  padding-left: (@gutter / 2);
  padding-right: (@gutter / 2);
}

.column (@n; @gutter: @gutter; @column: @column) {
  width: (@column * @n) + (@gutter * @n);
}

.half {
  width: 100%;

  @media @desktop {
    .column(6);
  }
}
