.categories {
  display: flex;
  font-size: @font-size-m;
  color: @grey;
  font-weight: bold;
  flex-wrap: wrap;
  margin-top: -@unit;

  @media @tablet {
    flex-wrap: nowrap;
  }

  a {
    font-size: @font-size-l;
    margin-bottom: 0;
  }
}

.category {
  width: 100%;
  margin-right: @unit * 3;

  & + & {
    margin-top: @unit;
  }

  @media @tablet {
    width: 20%;

    & + & {
      margin-top: 0;
    }
  }
}

.children {
  margin-top: @unit;
}

.children a {
  font-size: @font-size-m;
}

.breadcrumbs {
  margin-top: @unit * 2;

  &__wrapper {
    display: flex;
    overflow: scroll;
  }
}

.breadcrumb {
  margin-right: @unit;
  line-height: @line-height-m;
  color: fade(@grey, 100%);
  transition: color @animation;
  white-space: nowrap;

  &:hover {
    color: black;
  }

  &:after {
    content: '/';
    margin-left: @unit;
    opacity: .25;
  }

  &--current {
    color: fade(@grey, 50%);

    &:hover {
      color: fade(@grey, 50%);
    }

    &:after {
      content: '';
    }
  }
}

.parts-list {
  margin-top: @unit * 2;
}

.part {
  &__link {
    display: block;
    padding: @unit 0;
  }
}

.details {
  display: flex;

  .price {
    margin: @unit 0;
  }
}

.price {
  font-size: @font-size-l;
  font-size: @line-height-l;
  font-weight: bold;
  font-style: italic;

  &:before {
    font-size: @font-size-m;
    font-size: @line-height-m;
    content: 'от ';
  }
}

.gallery {
  min-height: 400px;
  background: @skeleton;
}
