.categories {
  display: flex;
  font-size: @font-size-m;
  color: @grey;
  font-weight: bold;
  flex-wrap: wrap;
  margin-top: -@unit;

  @media @tablet {
    flex-wrap: nowrap;
  }

  a {
    font-size: @font-size-l;
    margin-bottom: 0;
  }
}

.category {
  width: 100%;
  margin-right: @unit * 3;

  & + & {
    margin-top: @unit;
  }

  @media @tablet {
    width: 20%;

    & + & {
      margin-top: 0;
    }
  }
}

.children {
  margin-top: @unit;
}

.children a {
  font-size: @font-size-m;
}

.breadcrumbs {
  margin-top: @unit * 2;

  &__wrapper {
    display: flex;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: relative;

    @media @desktop {
      overflow: hidden;

      &:after {
        content: '';
        position: absolute;
        right: 0;
        width: 30px;
        height: 100%;
        background: -moz-linear-gradient(
          left,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 1) 100%
        );
        background: -webkit-linear-gradient(
          left,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 1) 100%
        );
        background: linear-gradient(
          to right,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 1) 100%
        );
        filter: progid:DXImageTransform.Microsoft.gradient(
            startColorstr='#00ffffff',
            endColorstr='#ffffff',
            GradientType=1
          );
      }
    }
  }
}

.breadcrumb {
  margin-right: @unit;
  line-height: @line-height-m;
  color: fade(@grey, 100%);
  transition: color @animation;
  white-space: nowrap;

  &:hover {
    color: black;
  }

  &:after {
    content: '/';
    margin-left: @unit;
    opacity: .25;
  }

  &--current {
    color: fade(@grey, 50%);

    &:hover {
      color: fade(@grey, 50%);
    }

    &:after {
      content: '';
    }
  }
}

.parts-list {
  margin-top: @unit * 2;

  @media @desktop {
    max-width: 700px;
  }
}

.part {
  padding: @unit / 2;
  box-shadow: inset 0 -1px 0 0 @border-color;
  transition: background @animation, box-shadow @animation;

  @media @desktop {
    padding: @unit;
  }

  &:hover {
    background: @skeleton;
    // box-shadow: inset 0 -2px 0 0 black;
  }

  &__link {
    display: flex;
    padding: @unit 0;
    color: black;

    &:hover {
      color: black;
    }

    &-title {
      flex-grow: 1;

      @media @desktop {
        font-size: @font-size-m;
        line-height: @line-height-m;
      }
    }

    &-price {
      opacity: .5;
      white-space: nowrap;
      margin-left: @unit;
    }
  }
}

.details {
  display: flex;

  &__left {
    .columnS(12);
  }

  &__right {
    // .columnS(6);
  }

  .price {
    margin: @unit 0;
  }
}

.price {
  display: inline-block;
  padding: @unit @unit * 1.5;
  font-size: @font-size-xl;
  font-size: @line-height-xl;
  font-weight: bold;
  background: @accent;
  transform: skew(-10deg);
  border-radius: @border-radius;
  margin-right: @unit * 1.5;

  &--from:before {
    font-size: @font-size-m;
    font-size: @line-height-m;
    content: 'от ';
    position: relative;
    bottom: 3px;
  }
}

.price-block {
  display: flex;
  align-items: center;
  flex-direction: column;

  @media @desktop {
    flex-direction: row;
  }
}

.price-description {
  font-style: italic;
  font-size: @font-size-m;
  line-height: @line-height-m;
  opacity: .5;
  margin-top: @unit;

  @media @desktop {
    margin-top: 0;
    max-width: 200px;
  }
}

.detail-numbers {
  white-space: pre-line;
  font-size: @font-size-s;
  line-height: @line-height-s;
  margin-bottom: @unit;

  &:after {
    content: '';
    display: block;
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
  }

  @media @desktop {
    max-width: 300px;
    max-height: 200px;
    overflow: auto;
  }
}

.part-details {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;

  @media @desktop {
    flex-wrap: nowrap;
    flex-direction: row;
  }
}

.fotorama__wrap {
  // padding: @unit * 2;
  margin-bottom: @unit * 2;

  @media @desktop {
    margin: 0;
  }
}

.fotorama__fullscreen-icon {
  background: none !important;
  width: 100% !important;
  height: 100% !important;
  right: 0 !important;
  top: 0 !important;
  z-index: 10 !important;
}

.cars {
  .container {
    display: flex;
    flex-wrap: wrap;
  }
}

.car {
  margin-right: @unit * 2;
  margin-bottom: @unit * 2;

  &__name {
    font-size: @font-size-m;
    margin-top: @unit;
    font-weight: bold;
  }
}

.part-details .button {
  margin: @unit * 2 0 @unit * 2;
}
