@grey: #666666;

@unit: 12px;

@border-color: #cccccc;

@animation: .2s ease;

@font-size-xl: 32px;
@font-size-l: 24px;
@font-size-m: 18px;
@font-size-s: 14px;

@line-height-xl: 40px;
@line-height-l: 32px;
@line-height-m: 24px;
@line-height-s: 18px;

@mobile: ~"only screen and (min-width : 320px)";
@tablet: ~"only screen and (min-width : 768px)";
@desktop: ~"only screen and (min-width : 992px)";
@desktop-huge: ~"only screen and (min-width : 1200px)";
